.wrapperLogin{
    display: flex;
    padding: 35px 0 6px 0;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}
.wrapperForm{
    background-color: #FFFFFF;
    width: 350px;
    margin: 30px auto 0 auto;
    border: 1px solid #DBDBDB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
    box-sizing: border-box;
    h1{
        margin: 0;
        font-family: 'Baloo Da 2', cursive;
        margin: 30px 0;
    }
    form{
        width: 100%;
        input{
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #DBDBDB;
            border-radius: 3px;
            padding: 10px 5px;
            font-family: 'Baloo Da 2', cursive;
            font-weight: 500;
        }
    }
    .googleButton{
        margin: 15px 0;
        background-color: #DB4C3F;
        &:hover{
            background-color: #e7877e;
        }
    }
}

.wrapperRedirectButton{
    background-color: #FFFFFF;
    width: 320px;
    margin: 0 auto;
    border: 1px solid #DBDBDB;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-family: 'Baloo Da 2', cursive;
    a{
        color: #00AEF9;
        text-decoration: none;
        font-weight: bold;
    }
}

.signInButton {
        width: 100%;
        border: none;
        background-color: #0095F6;
        border-radius: 3px;
        padding: 10px 0;
        margin-bottom: 20px;
        transition: all 0.5s;
        color: white;
        font-family: 'Rowdies', cursive;
        letter-spacing: 0.5px;
        &:hover{
            background-color: #99e0ff;
            cursor: pointer;
        }
}

.or{
    font-family: 'Rowdies', cursive;
}

@media screen and (max-width: 875px) {
    .phonePhoto{
        display: none;
    }
    .wrapperLogin{
        height: 91vh;
    }
}

@media screen and (max-width: 400px) {
    .wrapperLogin{
        margin: 0;
        width: 100%;
    }
    .width100{
        width: 100%;
    }
    .wrapperForm{
        margin: 0;
        width: 100%;
        border: none;
        background-color: transparent;
    }
    .wrapperRedirectButton{
        box-sizing: border-box;
        width: 100%;
        border: none;
        background-color: transparent;
    }
}

.margBottom{
    margin-bottom: 30px;
}