.addPostButton{
  background: #404040;
  border: none;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  font-family: 'Sora', sans-serif;
  transition: all, 0.3s;
  &:hover{
    cursor: pointer;
    letter-spacing: 3px;
    background: none;
    font-weight: bold;
    color: #000;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  }
  &:focus{
    outline: none;
  }
}

.closePostButtonWrapper{
  display: flex;
  justify-content: flex-end;
}

.closePostButton{
  border: none;
  background-color: transparent;
  color: #AAAAAA;
  font-size: 20px;
  &:hover{
    cursor: pointer;
    color: #262626;
  }
  &:focus{
    outline: none;
    font-size: 15px;
  }
}