.postWrapper{
  border: 1px solid #DBDBDB;
  margin: 30px 0;
  background-color: #fff;
  width: 600px;
  .postOwnerName{
    text-decoration: none;
    color: #262626;
    font-family: 'Noto Sans KR', sans-serif;
  }
}

.postOwnerInfo{
  display: flex;
  align-items: center;
  padding: 10px;
}

.ownerPhoto{
  display: flex;
  justify-content: center;
  img{
    max-width: 100%;
    // width: 100%;
  }
}

.postButtons{
  font-size: 24px;
  color: #262626;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  .likesButton button{
    border: none;
    background-color: transparent;
    
    cursor: pointer;
    height: 24px;
    width: 24px;
    i{
      font-size: 24px;
    }
    .active{
      color: #ED4956;
    }
    &:hover{
      color: #ED4956;
    }
    &:focus{
      outline: none;
    }
  }
  .likesCount{
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .postData{
    font-size: 14px;
  }
}

.postText{
  font-family: 'Karla', sans-serif;
  padding: 0 15px;
  span{
    color: #262626;
    font-family: 'Noto Sans KR', sans-serif;
  }
}

.ownerName{
  margin-left: 15px;
}

@media screen and (max-width: 650px) {
  .postWrapper{
    width: 100%;
    box-sizing: border-box;
  }
}