.comment{
  display: flex;
  margin-bottom: 20px;
  .commentText{
    font-family: 'Karla', sans-serif;
    padding-top: 10px;
    span{
      font-weight: bold;
    }
  }
  .ownerName{
    margin-left: 15px;
  }
}